:root {
  --primary-font:"Roboto",sans-serif;
  --secondary-font:"Raleway",sans-serif;
  --accent-color: #2196f3;
  --primary-color:  #757575;
  --secondary-color:  #212121;
  --alternativ-color:#ffffff;
}

/*убирает нижнее подчёркивание*/
.link {
  text-decoration: none;
}
/*убирает маркер списка*/
.list {
  list-style: none;
}
/*убирает пустоту между картинками*/
img {
  display: block;
}
/*курсор ладошка*/
button {
  font-family: inherit;
  cursor: pointer;
}
span {
  color:var(--secondary-color);
}

/*бодик*/
body {
  font-family:var(--primary-font);
  font-size: 14px;
  font-weight: 700;
  background-color:var(--alternativ-color);
  color:var(--primary-color);
  letter-spacing: 0.03em;
  line-height: 1.19;
  
}

.logotyp {
  font-family:var(--secondary-font);
  font-size: 26px;
  
  
  color:var(--accent-color);
}
/*секция меню*/
.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color:var(--secondary-color);
}
.menu-link:hover,
.menu-link:focus {
  color:var(--accent-color);
}

.current{
  color: var(--accent-color);
}
.contact-elem {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color:var(--primary-color);
}
.contact-elem:hover,
.contact-elem:focus {
  color:var(--accent-color);
}
/*кнопки*/
.hero-modal-btn {
  font-size: 16px;
  line-height: 1.88;
  text-transform: uppercase;
  cursor: pointer;
  background-color:var(--accent-color);
  color:var(--secondary-color);
}
.hero-modal-btn:hover,
.hero-modal-btn:focus {
  background-color:var(--accent-color);
  color:var(--alternativ-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero {
  background: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color:var(--alternativ-color);
}
.present-title {
  font-size:14px;
  line-height: 1.14;
  text-transform: uppercase;
  color:var(--secondary-color);
}
.present-tekst {
  font-weight: 400;
  line-height: 1.71;
}
/*(who)team und worky*/
.section-title {
  font-size: 36px;
  line-height: 1.17;
  color:var(--secondary-color);
}
.team {
  background: #f5f4fa;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  color:var(--secondary-color);
}
.team-prof {
  font-weight: 400;
  font-size: 16px;
}
.foot {
  background: #2f303a;
}
.address{
  font-style:normal ;
}
.studi {
  font-family:var(--secondary-font);
  font-size: 26px;
  color:var(--alternativ-color);
}
.foot-map {
  font-weight: 400;
  line-height: 24px;
  color:var(--alternativ-color);
}
.foot-link {
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.foot-link:hover,
.foot-link:focus {
color:var(--accent-color);
}
/*портфолио*/
.filtr-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  background-color:#F5F4FA ;
  color:var(--secondary-color);
}
.filtr-button:hover,
.filtr-button:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color:var(--alternativ-color);
  background-color:var(--accent-color);
}
.filtr-button :active {
background-color: var(--accent-color);
color: var(--alternativ-color);
}
.galera-picname {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--secondary-color) ;
}
.galera-picpro {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}